*.java linguist-language=Java
*.cs linguist-language=csharp
*.jsx linguist-language=JavaScript
*.js linguist-language=JavaScript
*.css linguist-language=CSS
tms-frontend/package-lock.json linguist-generated
docs/** linguist-documentation
*.svg linguist-generated
